<div class="login-wrapper">
  <div class="bg-glow"></div>
  
  <div class="glass-card">
    <span class="border-left"></span>
  <span class="border-right"></span>
    <div class="header-section">
       <lucide-icon name="rocket" [strokeWidth]="2" color="white" class="rocket-icon"></lucide-icon> 
      <h2><span style="color: #03a8d2;">Dev</span>Journey</h2>
      <h1 style="color: white;margin-left: 280px;">Forget Password</h1>
    </div>

    <form class="login-form">
        <div style="display: flex;gap: 30px;">

      <div class="glass-card-new">
        <p style="color: white;">Enter Your email</p>
        <div class="input-group-custom">
        <input type="text" placeholder="Mail Id" class="form-control my-input">
      </div>

       <div>
        <button type="submit" class="btn btn-start">Send OTP</button>
        </div>



      </div>

      <div style="border: 1px solid rgba(128, 128, 128, 0.459);"></div>

            <div class="glass-card-new">
        <p style="color: white;">Verify With OTP</p>
        <div class="input-group-custom">
        <input type="text" placeholder="Mail Id" class="form-control my-input">
      </div>

       <div>
        <button type="submit" class="btn btn-start">Verify OTP</button>
        </div>



      </div>

      <div style="border: 1px solid rgba(128, 128, 128, 0.459);"></div>

            <div class="glass-card-new">
        <p style="color: white;">Set New Password</p>
        <div class="input-group-custom">
        <input type="text" placeholder="New Password" class="form-control my-input">
      </div>

       <div class="input-group-custom">
        <input type="text" placeholder="Confirm Password" class="form-control my-input">
      </div>

       <div>
        <button type="submit" class="btn btn-start">Change Password</button>
        </div>



      </div>
      </div>

    </form>
  </div>
</div>