<p>+ Add New Course</p>
<div>
    <h1>Course Details:-</h1>
    <div>
        <label>Name</label>
        <input type="text">
    </div>

    <div>
        <label>Description></label>
        <input type="text">
    </div>

    <div>
        <label>Price</label>
        <input type="text">
    </div>

    <div>
        <label>Duration</label>
        <input type="text">
    </div>

    <div>
        <label>Days</label>
        <input type="text">
    </div>

    <h1>Module Details:-</h1>
    <div>
        <label>Name</label>
        <input type="text">
    </div>

    <div>
        <label>Description</label>
        <input type="text">
    </div>
</div>