        <div style="display: flex;gap: 30px;">

        <div>
            <img src="/Mysql-Logo-PNG-Background.png" style="width: 90px;height: 70px;">
        </div>

        <div style="color: white;"> 
        <span style="    font-size: 30px;">My Sql Course</span><br><span>Current Progess:-0%</span>
        </div> 

    </div>

    <div >
        @for(crsinfo of crs_info_arr;track $index;let i = $index){
            <div class="courses-card ">
            <div>{{i + 1}}) {{crsinfo.topicName}}</div>
            <div>Video:-{{crsinfo.topiclink}}</div>
            <div>Notes:-</div>
            </div>
        }
    </div>