.dashboard-container {
  display: flex;
  /* height: 509px; */
  height: 509px;
  min-height: 100vh;
  /* background-image: url('../../../public/bg.jpg'); */
  background-color: #1e293b;
  color: white;
  /* padding: 20px; */
  gap: 20px;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

/* Glassmorphism Sidebar */
.sidebar {
  width: 260px;
  max-height: calc(100vh - 40px);
  background: rgb(227 224 224 / 16%);
  backdrop-filter: blur(15px);
  /* border-radius: 24px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 19px 8px;
  overflow-y: auto; 
  scrollbar-width: none; /* Firefox साठी */
  -ms-overflow-style: none;  /* Internet Explorer आणि Edge साठी */
}

/* Chrome, Safari आणि Opera साठी स्क्रोलबार लपवा */
.sidebar::-webkit-scrollbar {
  display: none;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.6);
}

.nav-item:hover{
  background: rgba(255, 255, 255, 0.1);
  color: #08F7FE; /* Cyan Glow */
  border: 1px solid rgba(8, 247, 254, 0.3);
}

.nav-item.active {
  background: rgba(255, 255, 255, 0.1) !important;
  color: #08F7FE !important;
  border: 1px solid rgba(8, 247, 254, 0.5) !important;
  box-shadow: 0 0 15px rgba(8, 247, 254, 0.2); /* ग्लो इफेक्टसाठी */
}

.nav-item.active i-lucide {
  color: #08F7FE !important;
}

/* Main Content Area */
.main-content {
  flex: 1;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  height: 700px;
  overflow-y: hidden;
}

/* Cards Design */
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.course-card {
  height: 150px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
}

.cyan { border-bottom: 5px solid #08F7FE; box-shadow: 0 10px 20px rgba(8, 247, 254, 0.1); }
.purple { border-bottom: 5px solid #A445ED; }
.orange { border-bottom: 5px solid #FF8A65; }