<article>
  <h1 style="margin: 10px;">My Tech Stack</h1>
</article>
<div style="display: flex;flex-wrap: wrap;gap: 20px;">
@for(crs of Crsarr;track $index){

<div class="courses-card cell" [routerLink]="crs.path">
    <img [src]="crs.image" [style.width]="crs.img_w" [style.margin-left]="crs.img_margin" [style.height]="crs.img_h">
    <p style="color: aliceblue;font-size: 35px;margin-bottom: 20px;margin-top:0">{{crs.crs_name}}</p>
    <div class="progress-container">
    <div class="progress-bg">
      <div class="progress-fill" [style.width.%]="crs.crs_width"></div>
    </div>
    <span class="percentage">{{crs.crs_width}}%</span>
  </div>
</div>
}
</div>
