<article>
    <h1 *ngIf="mainBoss == false">Dashboard</h1>
    <h1 *ngIf="mainBoss == true">ADMIN CONSOLE : COMMAND CENTER</h1>
</article>

<div style="display: flex;gap: 30px; background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('/darktheme.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">

  
<div *ngIf="mainBoss == false" class="courses-card" style="width: 436px;">
  <div class="header">
    <lucide-icon name="BookOpen" [size]="20"></lucide-icon>
    <span>Courses Completed</span>
  </div>

  <div class="progress-container">
    <div style="display: flex;justify-content: space-between;">
    <div><p style="font-size: 28px;">0</p></div>
    <div><lucide-icon name="Flame" class="flame fl-right" color="#00f2ff" [size]="16"></lucide-icon>
    <svg viewBox="0 0 100 100" class="progress-ring">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="small-ring-progress" stroke-dashoffset="75" stroke-dasharray="226.2"/>
    </svg>
    </div>
    
</div>

  </div>
</div>

<div *ngIf="mainBoss == false" class="courses-card" style="width: 436px;">
  <div class="header" style="padding-bottom: 27px;">
    <lucide-icon name="Calendar"  [size]="24"  color="white"   class="streak-glow"></lucide-icon>
    <span>Streak</span>
  </div>

  <div>
  
  <div class="streak-display">
    <div class="data-stream">
      <div class="large-number">7</div>
      <div class="data-ring"></div>
    </div>
    
    <div class="sub-labels">
      <span class="total">14-Day Goal</span>
      <span class="record">My Best: 21</span>
    </div>
    
    <p class="data-status">
      DON'T BREAK THE CHAIN!
    </p>
  </div>
</div>
</div>

<div *ngIf="mainBoss == true" style="display: flex;gap: 45px;">

  <div class="courses-card" style="width: 232px;height: 159px;padding: 20px;">
    <div class="header">
    <lucide-icon name="FileSearch" [size]="20"></lucide-icon>
    <span style="font-size: 16px;">Pending Course Review</span>
  </div>

      <div style="display: flex;justify-content:space-between;align-items: center;margin-top: 35px;">
    <div style="font-size: 37px;">14</div>
      <div><lucide-icon name="TextSearch" [size]="30" style="color: #02ccef;"></lucide-icon></div>
    </div>
  </div> 

  <div class="courses-card" style="width: 232px;height: 159px;padding: 20px;">
    <div class="header">
    <lucide-icon name="User" [size]="20"></lucide-icon>
    <span>New User Enrollments</span>
  </div>

      <div style="display: flex;justify-content:space-between;align-items: center;margin-top: 35px">
    <div style="font-size: 37px;">85<br></div>
      <div><lucide-icon name="User" [size]="30" style="color: rgba(6, 253, 253, 0.845);"></lucide-icon></div>
    </div>
      <div style="font-size: 20px;color: #018d94;">this week</div>

  </div> 

  <div class="courses-card" style="width: 232px;height: 159px;padding: 20px;">
    <div class="header">
    <lucide-icon name="TriangleAlert" [size]="20" style="color: rgb(249, 116, 116);"></lucide-icon>
    <span>System Alerts</span>
  </div>

      <div style="display: flex;justify-content:space-between;align-items: center;margin-top: 35px">
    <div style="font-size: 10;" style="color: rgb(249, 116, 116);">2<br>critical<br><span style="color: rgb(253, 168, 31);">5</span><br><span style="color: rgb(253, 168, 31);">warning</span></div>
      <div><lucide-icon name="CircleAlertIcon" [size]="50" style="color: rgb(248, 88, 88);"></lucide-icon></div>
    </div>
  </div> 

</div>

</div>

<div style="display: flex;gap: 30px;">

  <div *ngIf="mainBoss == false">
    <img src="/wire.png" style="width:210px;height:250px">
  </div>

<div *ngIf="mainBoss == false" class="courses-card" style="width: 680px;margin-top: 25px;">
<div class="journey-card">
  <div class="content">
    <h3 style="text-align: center;color: rgb(203, 240, 247);">START YOUR JOURNEY</h3>

<div style="display: flex;">  

<div  class="progress-container"> 
     <lucide-icon name="Zap" class="flame fl-right-circle"  [size]="90"  color="#cde6e8" [size]="25" ></lucide-icon>
  <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress" />
    </svg>
    <div>
  <lucide-icon name="zap"  style="padding-left: 52px;"  [size]="90"  color="#cde6e8" [size]="25" ></lucide-icon>
  <p  style="padding-left: 46px;">START</p>
</div>


</div>

<div class="connecting-line" style="margin-left: 98px;margin-top: 38px;width: 108px;background: #00f2ff"></div>

<div class="progress-container">
  <div  class="iconcircle" style="background-color: #00f2ff; border: 1px solid #00f2ff;"></div> 
  <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress2" />
    </svg>
  <div>
  <lucide-icon name="CodeXml"  style="padding-left: 52px;"  [size]="90"  color="#00f2ff" [size]="25" ></lucide-icon>
  <p  style="padding-left: 39px;color: #00f2ff;">SYNTAX</p>
</div>
</div>

<div class="connecting-line" style="margin-left: 270px;margin-top: 38px;width: 108px;background-color: #00f2ff; "></div>

<div class="progress-container">
    <div class="iconcircle" style="background-color: #bebef5; border: 1px solid #bebef5;"></div> 
  <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress3" />
    </svg>
  <div>
  <lucide-icon name="Cpu"  style="padding-left: 52px;" [size]="90"  color="#bebef5" [size]="25" ></lucide-icon>
  <p  style="padding-left: 35px;color: #bebef5;">ALGORITHM</p>
</div>

</div>

<div class="connecting-line" style="margin-left: 441px;margin-top: 38px;width: 108px;background-color: #d2d2f9;"></div>

<div class="progress-container">
      <lucide-icon name="CloudUpload" class="flame fl-right-circle"  color="#ca9adf" [size]="25" ></lucide-icon>
   <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress4" />
    </svg>
<div>
  <lucide-icon name="CloudUpload"  style="padding-left: 52px;"  [size]="90"  color="#ca9adf" [size]="25" ></lucide-icon>
  <p  style="padding-left: 24px;color: #ca9adf;">DEPLOYMENT</p>
</div>
</div>
    
  </div>

</div>
</div>

</div>

<div *ngIf="mainBoss == true" class="courses-card" style="width: fit-content;height:fit-content;padding: 20px;">
  <p style="font-size: larger;">RECENT PLATFORM ACTIVITY </p>
  <table>
      <thead>
      <tr style="color: rgb(157, 157, 157);">
      <th style="border-bottom: 1px solid #888888;"></th>
      <th style="border-bottom: 1px solid #888888;padding: 0px 0px 10px 0px;text-align: left;">Name</th>
      <th style="border-bottom: 1px solid #888888;padding: 0px 0px 10px 0px;text-align: left;">Mail</th>
      <th style="border-bottom: 1px solid #888888;padding: 0px 0px 10px 0px;text-align: left;">Role</th>
    </tr>
    </thead>

    <tbody style="margin: 5px;">
       @for(user of userlist();track user.id ){
    <tr style="padding-top: 5px;">
      <td style="border-bottom: 1px solid#888888;">  @if (user.profilePictureUrl) {
      <img [src]="getProfileImageUrl(user.profilePictureUrl)" 
           style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;margin: 5px;padding: 0px 5px 0px 8px;">
    } @else {
      <div class="initials-avatar" style="width: 40px; height: 40px;border-radius: 50%;margin: 10px; background-color: rgb(155, 96, 96); display: flex; align-items: center; justify-content: center;">
        <p style="color: white; margin: 0; font-size: 20px; ">{{ getInitials(user.fullname) }}</p>
      </div>
    }</td>
      <td style="border-bottom: 1px solid #888888;margin: 5px;padding: 0px 5px 0px 8px;">{{user.fullname}}</td>
      <td style="border-bottom: 1px solid #888888;margin: 5px;padding: 0px 5px 0px 8px;">{{user.mailid}}</td>
      <td style="border-bottom: 1px solid #888888;margin: 5px;padding: 0px 5px 0px 8px;">{{user.roles}}</td>
    </tr>
       }
       </tbody>
    <!-- </tbody> -->
  </table>
</div>

<div *ngIf="mainBoss == true" class="courses-card" style="width: 368px;height:fit-content;padding-bottom: 10px;">
<p style="font-size: larger;">QUICK ADMIN ACTIONS</p>

<div style="display: flex;flex-wrap: wrap;gap: 20px;">
<div class="borderadmin1" style="border-image-source: linear-gradient(to right, rgb(173, 236, 241), rgb(200, 130, 244));">
  <p style="margin: 8px;color: rgb(173, 236, 241);font-size: 14px;"><lucide-icon name="FilePlus" [size]="18" style="margin-right: 5px;"></lucide-icon>Create New Topic</p>
</div>

<div class="borderadmin1" style="border-image-source: linear-gradient(to right, rgb(200, 130, 244), rgb(173, 236, 241));">
  <p style="margin: 5px;color: rgb(200, 130, 244);font-size: 14px;"><lucide-icon name="ListTodo" [size]="18" style="margin-right: 5px;"></lucide-icon>User List</p>
</div>


<div class="borderadmin1" style="border-image-source: linear-gradient(to right, rgb(200, 130, 244), rgb(173, 236, 241));">
  <p style="margin: 5px;font-size: 14px;color: rgb(200, 130, 244);"><lucide-icon name="FileQuestionMark" [size]="18" style="margin-right: 5px;"></lucide-icon>Queries</p>
</div>

<div class="borderadmin1" style="border-image-source: linear-gradient(to right, rgb(200, 130, 244), rgb(173, 236, 241));">
  <p style="margin: 5px;font-size: 14px;color: rgb(173, 236, 241);"><lucide-icon name="MessageSquareQuote" [size]="18" style="margin-right: 5px;"></lucide-icon>Notification</p>
</div>

<div class="borderadmin1" style="border-image-source: linear-gradient(to right, rgb(173, 236, 241), rgb(200, 130, 244));">
  <p style="margin: 8px;color: rgb(173, 236, 241);font-size: 14px;"><lucide-icon name="ChartBarIcon" [size]="18" style="margin-right: 5px;"></lucide-icon>Report</p>
</div>

</div>


</div>

</div>