<h1 class="dahboard">Dashboard</h1>

<div style="display: flex;gap: 30px;">

<div class="courses-card" >
  <div class="header">
    <lucide-icon name="BookOpen" [size]="20"></lucide-icon>
    <span>Courses Completed</span>
  </div>

  <div class="progress-container">
    <div style="display: flex;justify-content: space-between;">
    <div><p style="font-size: 28px;">0</p></div>
    <div><lucide-icon name="Flame" class="flame fl-right" color="#00f2ff" [size]="16"></lucide-icon>
    <svg viewBox="0 0 100 100" class="progress-ring">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="small-ring-progress" stroke-dashoffset="75" stroke-dasharray="226.2"/>
    </svg>
    </div>
    
</div>

  </div>
</div>

<div class="courses-card">
  <div class="header" style="padding-bottom: 27px;">
    <lucide-icon name="Calendar"  [size]="24"  color="white"   class="streak-glow"></lucide-icon>
    <span>Streak</span>
  </div>

  <div>
  
  <div class="streak-display">
    <div class="data-stream">
      <div class="large-number">7</div>
      <div class="data-ring"></div>
    </div>
    
    <div class="sub-labels">
      <span class="total">14-Day Goal</span>
      <span class="record">My Best: 21</span>
    </div>
    
    <p class="data-status">
      DON'T BREAK THE CHAIN!
    </p>
  </div>
</div>
</div>

</div>

<div style="display: flex;gap: 30px;">

  <div>
    <img src="/wire.png" style="width:210px;height:250px">
  </div>


  
<div class="courses-card" style="width: 680px;margin-top: 25px;">
<div class="journey-card">
  <div class="content">
    <h3 style="text-align: center;color: rgb(203, 240, 247);">START YOUR JOURNEY</h3>

<div style="display: flex;">  

<div  class="progress-container"> 
     <lucide-icon name="Zap" class="flame fl-right-circle"  [size]="90"  color="#cde6e8" [size]="25" ></lucide-icon>
  <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress" />
    </svg>
    <div>
  <lucide-icon name="zap"  style="padding-left: 52px;"  [size]="90"  color="#cde6e8" [size]="25" ></lucide-icon>
  <p  style="padding-left: 46px;">START</p>
</div>


</div>

<div class="connecting-line" style="margin-left: 98px;margin-top: 38px;width: 108px;background: #00f2ff"></div>

<div class="progress-container">
  <div  class="iconcircle" style="background-color: #00f2ff; border: 1px solid #00f2ff;"></div> 
  <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress2" />
    </svg>
  <div>
  <lucide-icon name="CodeXml"  style="padding-left: 52px;"  [size]="90"  color="#00f2ff" [size]="25" ></lucide-icon>
  <p  style="padding-left: 39px;color: #00f2ff;">SYNTAX</p>
</div>
</div>

<div class="connecting-line" style="margin-left: 270px;margin-top: 38px;width: 108px;background-color: #00f2ff; "></div>

<div class="progress-container">
    <div class="iconcircle" style="background-color: #bebef5; border: 1px solid #bebef5;"></div> 
  <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress3" />
    </svg>
  <div>
  <lucide-icon name="Cpu"  style="padding-left: 52px;" [size]="90"  color="#bebef5" [size]="25" ></lucide-icon>
  <p  style="padding-left: 35px;color: #bebef5;">ALGORITHM</p>
</div>

</div>

<div class="connecting-line" style="margin-left: 441px;margin-top: 38px;width: 108px;background-color: #d2d2f9;"></div>

<div class="progress-container">
      <lucide-icon name="CloudUpload" class="flame fl-right-circle"  color="#ca9adf" [size]="25" ></lucide-icon>
   <svg viewBox="0 0 100 100" class="progress-ring-icon">
      <circle cx="50" cy="50" r="40" class="ring-bg" />
      <circle cx="50" cy="50" r="40" class="ring-progress4" />
    </svg>
<div>
  <lucide-icon name="CloudUpload"  style="padding-left: 52px;"  [size]="90"  color="#ca9adf" [size]="25" ></lucide-icon>
  <p  style="padding-left: 24px;color: #ca9adf;">DEPLOYMENT</p>
</div>
</div>
    
  </div>

</div>
</div>

</div>